<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Reset Password</title>
</head>
<body>
  <main class="main">
    <div class="box_login">
      <div class="title">
        <h2>Trocar senha</h2>
      </div>

      <form class="form" method="post" action="" onsubmit="return submitForm(event)">
        <div class="box">
          <input
            id="input1"
            type="password"
            name="password"
            placeholder="Digite sua nova senha"
          />

          <input
            id="input2"
            type="password"
            name="password2"
            placeholder="Confirme sua nova senha"
          />
        </div>

        <button type="submit">Alterar senha</button>
      </form>
    </div>
  </main>

</body>
<script>
  function submitForm(event) {
    var input1 = document.getElementById("input1")
    var input2 = document.getElementById("input2")

    if (input1.value === "" || input2.value === "") {
      event.preventDefault();
      alert("Por favor, preencha todos os campos!");
      return false;
    }

    if(input1.value !== input2.value){
      event.preventDefault();
      alert("As senhas não coincidem!");
      return false
    }

    if(input1.value.length < 6){
      event.preventDefault();
      alert("A senha deve conter no mínimo 6 caracteres!");
      return false
    }

    return true;
  }

</script>
</html>
